:root {
    --bold: 700;
    --semi-bold: 600;
    --medium: 500;
    --regular: 400;

    --pink-red: #E50914;
    --white-smoke: #F2F2F2;
    --dark-russ: #101011;
    --main-black: #030303;
}

* {
    box-sizing:  border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    color: var(--white-smoke);
}

a {
    text-decoration: none;
}
/* header */

.header {
    min-width: 320px;
    width: 100%;
    height: 408px;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.75) 0%, rgba(92, 92, 92, 0.303) 33%, rgba(92, 92, 92, 0.303) 66%, rgba(0,0,0,0.75) 100%), url(https://m.media-amazon.com/images/I/91NSSRd5-dL._SL1500_.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav-bar {
    width: 100%;
    margin: 12px 0;
    padding-left: 16px;
    padding-right: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar a, .nav-bar a:visited {
    text-decoration: none;
    color: var(--white-smoke);
    font-weight: var(--semi-bold);
    font-size: 1.3rem;
}

.hero-info {
    width: 100%;
    height: 140px;
    padding: 0 16px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.hero-info__title {
    font-size: 2.4rem;
    font-weight: var(--bold);
}

.interaction-menu {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--white-smoke);
    border-radius: 50%;
    width: 28px;
    height: 28px;
}

.hero-labels-section {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.hero-labels-section a, .hero-labels-section a:visited {
    text-decoration: none;
    color: var(--white-smoke);
}
/* main */

/* footer */


/* Social Media Icons */
.fa-platzi {
    width: 18px;
    height: 18px;
    background-image: url('https://icons-for-free.com/iconfiles/png/512/platzi-1324440213777394405.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Assets */

.hidden {
    display: none;
}

.border {
    border: 1px solid red;
}

.trailer-btn {
    height: 28px;
    width: 80px;
    border: none;
    border-radius: 8px;
    background-color: var(--pink-red);
    color: var(--white-smoke);
    font-size: 1.3rem;
    font-weight: var(--regular);
}

.category {
    border: 2px solid var(--white-smoke);
    border-radius: 8px;
    padding: 4px 8px;
    font-weight: var(--bold);
}